Fabric==1.4.3
Flask==0.9
Flask-Mail==0.6.1
FormEncode==1.2.4
Jinja2==2.6
PIL==1.1.7
SQLObject==1.3.1
Werkzeug==0.8.3
beautifulsoup4==4.1.1
beerlog==0.01
blinker==1.2
boto==2.5.2
chardet==1.0.1
gunicorn==0.14.5
lamson==1.1
lockfile==0.9.1
mock==0.8.0
nose==1.1.2
pycrypto==2.6
python-daemon==1.6
python-dateutil==1.5
ssh==1.7.14
wsgiref==0.1.2
